<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyf.notebook.mapper.CategoryMapper">
  <resultMap id="BaseResultMap2" type="com.zyf.notebook.entity.Note">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="abs" jdbcType="VARCHAR" property="abs" />
    <result column="author" jdbcType="INTEGER" property="author" />
    <result column="category" jdbcType="INTEGER" property="category" />
    <result column="last_modified_time" jdbcType="TIMESTAMP" property="lastModifiedTime" />
    <result column="creste_time" jdbcType="TIMESTAMP" property="cresteTime" />
  </resultMap>
  <resultMap extends="BaseResultMap2" id="ResultMapWithBLOBs" type="com.zyf.notebook.entity.Note">
    <result column="content_html" jdbcType="LONGVARCHAR" property="contentHtml" />
    <result column="content_md" jdbcType="LONGVARCHAR" property="contentMd" />
  </resultMap>
  <sql id="Base_Column_List2">
    id, name, abs, author, category, last_modified_time, creste_time
  </sql>
  <select id="selectByPrimaryKey2" parameterType="java.lang.Integer" resultMap="BaseResultMap2">
    select
    <include refid="Base_Column_List2" />
    from note
    where category = #{id}
  </select>

 <!--以上是为查询关联关系对象-->

  <resultMap id="BaseResultMap" type="com.zyf.notebook.entity.Category">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <collection property="notes" ofType="com.zyf.notebook.entity.Note" column="id" select="selectByPrimaryKey2"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, name
  </sql>
  <!--查询所有-->
  <resultMap id="BaseResultMap3" type="com.zyf.notebook.entity.Category">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap3">
    select
    <include refid="Base_Column_List" />
    from category
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from category c
    where c.id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from category
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zyf.notebook.entity.Category">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into category (name)
    values (#{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zyf.notebook.entity.Category">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zyf.notebook.entity.Category">
    update category
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zyf.notebook.entity.Category">
    update category
    set name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>



</mapper>